footer
{
    height: 50px;
    width: 100%;
    background-color: $green;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    p
    {
        color: white;
        padding-top: 10px;
    }
}
