footer
{
    margin-top:-25px;
    width: 100%;
    background: lighten($green, 5%);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    z-index: 999;
    p
    {
        color: white;
        padding-top: 10px;
        z-index: 999;
    }
}

video
{
    width: 100%;
    opacity: 0.2;
    margin-top: -60px;
    margin-bottom: -6px;
}
