.wrapper
{
    .navspace
    {
        height: 100px;
        background-color: $green;
    }

    .slidingword
    {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        margin-top: 6%;
        clear: both;
        margin-left: -30%;
        border-radius: 5px;
        p
        {
            color: #eeeeee;
            font-size: 80px;
            padding: 5px;
            margin: 5px;
            float: right;
            font-family: 'Merriweather', serif;
            font-weight: bold;
        }

    }
    .slidingword2
    {
        margin-top: 16%;
    }
    .slidingword3
    {
        margin-top: 26%;
    }


    .computer-pic
    {
        width: 100%;
        background-color: $green;
        > img
        {
            max-width: 100%;
            border-bottom: 2px solid $green;
        }
    }

    .gray-bknd
    {
        background-color: $gray;
        width: 100%;
        padding: 10px 0;
    }

    pre
    {
        margin:0;
        padding: 0;
    }

    .text-wrapper
    {
        text-align: center;
        width: 80%;
        margin: 30px auto 100px auto;

        h1
        {
            font-size: 64px;
            font-family: 'Merriweather', serif;
            color: $green;
            margin: 75px auto 40px auto;
        }

        h3
        {
            font-size: 42px;
            font-family: 'Merriweather', serif;
            color: #666666;
            margin: 60px 0 20px 40px;

        }

        p
        {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 24px;
            text-align: left;
            font-weight: lighter;
            color: #444444;
        }

        a
        {
            color: $accent;
            font-size: 28px;
        }

        .employee-info
        {
            padding: 20px;
            margin-bottom: 100px;
            img
            {
                float:left;
                width: 30%;
                max-width: 250px;
                border: 7px solid lighten($green, 10%);
                margin-right: 75px;
                margin-left: 75px;
                border-radius: 100%;
                transition: 0.4s 0 ease;

                &:hover
                {
                  transition: 0.4s 0 ease;
                  -webkit-transform: scale(1.05);
                  -ms-transform: scale(1.05);
                  transform: scale(1.05);
                }
            }

            > p
            {
                margin: 20px 20px 20px 30%;
                color: #555555;
                font-size: 22px;
            }
        }
    }

    .process-steps
    {
        margin: auto;
        width: 90%;
        text-align: center;
        background-color: white;
        height: 400px;
        font-family: 'Merriweather', serif;

        .process-column
        {
            width: 28%;
            margin: 0 0%;
            min-height: 300px;
            background-color: lighten($green, 5%);
            display: inline-block;
            text-align: center;
            border: 3px solid white;
            transition: 0.5s 0 ease;
            top: 0;
            position:relative;
            border-radius: 10px;

            h2
            {
                color: white;
                font-size: 42px;
                cursor: default;
            }

            .icon
            {
                color: white;
                font-size: 64px;
            }

            &:hover, &:focus
            {
                border: 3px solid lighten($green, 5%);
                background-color: white;
                transition: 0.5s 0 ease;
                padding-bottom: 150px;

                h2, .icon
                {
                    color: $green;
                }

                .bottomText
                {
                    visibility:visible;
                }
            }


            .bottomText{
                position:absolute;
                bottom:15px;
                visibility:hidden;
                text-align:center;
                width:90%;
                color: $green;
                font-size: 26px;
                margin-left: 5%;
                margin-bottom: 12%;
                font-family: 'Source Sans Pro', sans-serif;
            }
        }
    }

    .contact-section
    {
        text-align: center;


        h1
        {
            font-size: 64px;
            font-family: 'Merriweather', serif;
            color: $green;
        }
        p
        {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 20px;
        }
        a
        {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 24px;
            color: darken($accent, 10%);
        }

        #wufoo-z1lq6zl51nne001
        {
            margin-left: 30%;
            margin-right: 30%;
        }
    }

}
