header {
  width: 100%;
  background: #32ad70;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #4ede96;
  max-height: 101px;
  opacity: 0.95; }
  header h1 {
    margin-top: 5px;
    display: inline-block; }
  header .logocontainer {
    margin-top: 15px;
    display: inline-block;
    float: left; }
    header .logocontainer > a {
      text-decoration: none; }
      header .logocontainer > a .logo {
        margin-top: 0;
        font-family: 'Merriweather', serif;
        font-size: 48px;
        padding: 0 50px;
        color: white;
        display: inline-block; }
      header .logocontainer > a .logoeffect-left {
        color: white;
        font-size: 48px;
        display: inline-block;
        transition: 0.2s 0 ease;
        opacity: 0;
        margin: 0 -80px 0 70px; }
      header .logocontainer > a .logoeffect-right {
        color: white;
        font-size: 48px;
        display: inline-block;
        transition: 0.2s 0 ease;
        opacity: 0;
        margin: 0 auto 0 -80px; }
      header .logocontainer > a:hover .logoeffect-left, header .logocontainer > a:focus .logoeffect-left {
        transition: 0.2s 0 ease;
        opacity: 1;
        margin: 0 -50px 0 40px; }
        @media only screen and (max-width: 480px), (max-width: 900px) {
          header .logocontainer > a:hover .logoeffect-left, header .logocontainer > a:focus .logoeffect-left {
            color: white;
            font-size: 48px;
            display: inline-block;
            transition: 0.2s 0 ease;
            opacity: 0; } }
      header .logocontainer > a:hover .logoeffect-right, header .logocontainer > a:focus .logoeffect-right {
        transition: 0.2s 0 ease;
        opacity: 1;
        margin-left: -50px; }
        @media only screen and (max-width: 480px), (max-width: 900px) {
          header .logocontainer > a:hover .logoeffect-right, header .logocontainer > a:focus .logoeffect-right {
            color: white;
            font-size: 48px;
            display: inline-block;
            transition: 0.2s 0 ease;
            opacity: 0; } }
  header .navcontainer {
    display: inline-block;
    font-family: 'Merriweather', serif;
    float: right;
    clear: none;
    margin-right: 25px;
    margin-top: 35px; }
    header .navcontainer > a {
      cursor: pointer;
      display: inline-block;
      margin-left: 20px;
      text-decoration: none;
      color: white;
      border-bottom: 3px solid #32ad70;
      position: relative;
      padding-bottom: 30px;
      transition: 0.2s 0 ease; }
      header .navcontainer > a:hover {
        border-bottom: 3px solid white;
        padding-bottom: 0;
        transition: 0.2s 0 ease; }
      header .navcontainer > a h2 {
        margin: 0; }

.wrapper .navspace {
  height: 100px;
  background-color: #32ad70; }
.wrapper .computer-pic {
  width: 100%;
  background-color: #32ad70; }
  .wrapper .computer-pic > img {
    max-width: 100%;
    border-bottom: 2px solid #32ad70; }
.wrapper .gray-bknd {
  background-color: #dddddd;
  width: 100%;
  padding: 10px 0; }
.wrapper pre {
  margin: 0;
  padding: 0; }
.wrapper .text-wrapper {
  text-align: center;
  width: 80%;
  margin: 30px auto 100px auto; }
  .wrapper .text-wrapper h1 {
    font-size: 64px;
    font-family: 'Merriweather', serif;
    color: #32ad70;
    margin: 75px auto 40px auto; }
  .wrapper .text-wrapper h3 {
    font-size: 42px;
    font-family: 'Merriweather', serif;
    color: #666666;
    margin: 60px 0 20px 40px; }
  .wrapper .text-wrapper p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-align: left;
    font-weight: lighter;
    color: #444444; }
  .wrapper .text-wrapper a {
    color: #4ede96;
    font-size: 28px; }
  .wrapper .text-wrapper .employee-info {
    padding: 20px;
    margin-bottom: 100px; }
    .wrapper .text-wrapper .employee-info img {
      float: left;
      width: 30%;
      max-width: 250px;
      border: 7px solid #48ca8a;
      margin-right: 75px;
      margin-left: 75px;
      border-radius: 100%;
      transition: 0.4s 0 ease; }
      .wrapper .text-wrapper .employee-info img:hover {
        transition: 0.4s 0 ease;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
    .wrapper .text-wrapper .employee-info > p {
      margin: 20px 20px 20px 30%;
      color: #555555;
      font-size: 22px; }
.wrapper .process-steps {
  margin: auto;
  width: 90%;
  text-align: center;
  background-color: white;
  height: 400px;
  font-family: 'Merriweather', serif; }
  .wrapper .process-steps .process-column {
    width: 28%;
    margin: 0 0%;
    min-height: 300px;
    background-color: #38c17d;
    display: inline-block;
    text-align: center;
    border: 3px solid white;
    transition: 0.5s 0 ease;
    top: 0;
    position: relative;
    border-radius: 10px; }
    .wrapper .process-steps .process-column h2 {
      color: white;
      font-size: 42px;
      cursor: default; }
    .wrapper .process-steps .process-column .icon {
      color: white;
      font-size: 64px; }
    .wrapper .process-steps .process-column:hover, .wrapper .process-steps .process-column:focus {
      border: 3px solid #38c17d;
      background-color: white;
      transition: 0.5s 0 ease;
      padding-bottom: 150px; }
      .wrapper .process-steps .process-column:hover h2, .wrapper .process-steps .process-column:hover .icon, .wrapper .process-steps .process-column:focus h2, .wrapper .process-steps .process-column:focus .icon {
        color: #32ad70; }
      .wrapper .process-steps .process-column:hover .bottomText, .wrapper .process-steps .process-column:focus .bottomText {
        visibility: visible; }
    .wrapper .process-steps .process-column .bottomText {
      position: absolute;
      bottom: 15px;
      visibility: hidden;
      text-align: center;
      width: 90%;
      color: #32ad70;
      font-size: 26px;
      margin-left: 5%;
      margin-bottom: 12%;
      font-family: 'Source Sans Pro', sans-serif; }
.wrapper .contact-section {
  text-align: center; }
  .wrapper .contact-section h1 {
    font-size: 64px;
    font-family: 'Merriweather', serif;
    color: #32ad70; }
  .wrapper .contact-section p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px; }
  .wrapper .contact-section a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #27d27d; }
  .wrapper .contact-section #wufoo-z1lq6zl51nne001 {
    margin-left: 30%;
    margin-right: 30%; }

footer {
  margin-top: -25px;
  width: 100%;
  background: #38c17d;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  z-index: 999; }
  footer p {
    color: white;
    padding-top: 10px;
    z-index: 999; }

video {
  width: 100%;
  opacity: 0.2;
  margin-top: -60px;
  margin-bottom: -6px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {
  header {
    max-height: none;
    position: relative;
    height: 400px;
    text-align: center; }
    header .logocontainer {
      display: block;
      text-align: center;
      width: 100%; }
      header .logocontainer > a .logo {
        font-size: 100px;
        margin-right: 5%; }
      header .logocontainer > a:focus .logoeffect-left {
        margin: 0 -80px 0 70px; }
      header .logocontainer > a:focus .logoeffect-right {
        margin: 0 auto 0 -80px; }
    header .navcontainer {
      margin: 0;
      padding: 0;
      width: 101%; }
      header .navcontainer > a {
        padding: 50px 0;
        background-color: #1b5e3d;
        text-align: center;
        width: 50%;
        margin-left: 0;
        font-size: 30px;
        display: inline-block;
        margin-right: -5px;
        margin-bottom: -4px;
        border: 1px solid #32ad70; }
        header .navcontainer > a:hover {
          padding-bottom: 50px;
          border-bottom: 3px solid #32ad70; }
        header .navcontainer > a:focus {
          background-color: #21724a; }

  .wrapper {
    clear: both; }
    .wrapper .navspace {
      height: 0; }
    .wrapper .text-wrapper p {
      font-size: 28px;
      margin: auto 10%; }
    .wrapper .text-wrapper .employee-info {
      text-align: center; }
      .wrapper .text-wrapper .employee-info img {
        width: 40%;
        display: block;
        margin: auto;
        float: center; }
      .wrapper .text-wrapper .employee-info p {
        display: block;
        clear: both;
        float: center;
        margin: 20px 6% 40px 10%;
        font-size: 26px; }
    .wrapper .process-steps {
      width: 80%;
      height: 1100px; }
      .wrapper .process-steps .process-column {
        display: block;
        width: 100%;
        margin: 25px 0 25px 0; }
        .wrapper .process-steps .process-column h2 {
          font-size: 64px;
          margin-bottom: 0; }
        .wrapper .process-steps .process-column .bottomText {
          font-size: 30px; }
    .wrapper .hovertext {
      visibility: hidden; }
    .wrapper .taptext {
      visibility: visible; }

  footer video {
    visibility: hidden; } }
