header {
  width: 100%;
  background: #4ede96;
  position: fixed;
  top: 0; }
  header h1 {
    margin-top: 5px; }
  header .logocontainer {
    padding-top: 15px;
    display: inline-block;
    float: left; }
    header .logocontainer > a {
      text-decoration: none; }
      header .logocontainer > a .logo {
        margin-top: 0;
        font-family: 'Merriweather', serif;
        font-size: 48px;
        padding: 0 50px;
        color: white;
        display: inline-block; }
      header .logocontainer > a .logoeffect-left {
        color: white;
        font-size: 48px;
        display: inline-block;
        transition: 0.2s 0 ease;
        opacity: 0;
        margin: 0 -80px 0 70px; }
      header .logocontainer > a .logoeffect-right {
        color: white;
        font-size: 48px;
        display: inline-block;
        transition: 0.2s 0 ease;
        opacity: 0;
        margin: 0 auto 0 -80px; }
      header .logocontainer > a:hover .logoeffect-left {
        transition: 0.2s 0 ease;
        opacity: 1;
        margin: 0 -50px 0 40px; }
        @media only screen and (max-width: 480px), (max-width: 900px) {
          header .logocontainer > a:hover .logoeffect-left {
            color: white;
            font-size: 48px;
            display: inline-block;
            transition: 0.2s 0 ease;
            opacity: 0; } }
      header .logocontainer > a:hover .logoeffect-right {
        transition: 0.2s 0 ease;
        opacity: 1;
        margin-left: -50px; }
        @media only screen and (max-width: 480px), (max-width: 900px) {
          header .logocontainer > a:hover .logoeffect-right {
            color: white;
            font-size: 48px;
            display: inline-block;
            transition: 0.2s 0 ease;
            opacity: 0; } }
  header .navcontainer {
    display: inline-block;
    font-family: 'Merriweather', serif;
    float: right;
    clear: none;
    margin-right: 100px;
    margin-top: 35px; }
    header .navcontainer > a {
      display: inline-block;
      margin-left: 50px;
      text-decoration: none;
      color: white;
      border-bottom: 3px solid #4ede96;
      position: relative; }
      header .navcontainer > a:hover {
        border-bottom: 3px solid white; }
      header .navcontainer > a h2 {
        margin: 0; }

.wrapper .navspace {
  height: 100px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {
  header {
    height: 400px;
    text-align: center; }
    header .logocontainer {
      display: block;
      text-align: center;
      width: 100%; }
      header .logocontainer > a .logo {
        font-size: 100px;
        margin-right: 5%; }
      header .logocontainer > a:hover .logoeffect-left {
        margin: 0 -80px 0 70px; }
      header .logocontainer > a:hover .logoeffect-right {
        margin: 0 auto 0 -80px; }
    header .navcontainer {
      margin: 0;
      width: 100%; }
      header .navcontainer > a {
        padding: 50px 0;
        background-color: #1fa763;
        text-align: center;
        width: 100%;
        margin-left: 0;
        font-size: 30px; }
        header .navcontainer > a:hover {
          background-color: #23bc70; }

  .wrapper .navspace {
    height: 480px; } }
.spacetaker {
  height: 2000px;
  width: 100%; }
