$green: #4EDE96;
$logoAnimationTime: 0.2s;

@mixin mLogoEffect_pre
{
	color: white;
	font-size: 48px;
	display: inline-block;
	transition: $logoAnimationTime 0 ease;
	opacity: 0;
}

@mixin mLogoEffect_post
{
	transition: $logoAnimationTime 0 ease;
	opacity: 1;
	@media only screen and (max-width : 480px), (max-width: 900px)
	{
		@include mLogoEffect_pre;
	}
}


header
{
	width: 100%;
	background: $green;
	position: fixed;
	top: 0;
	box-shadow: 0 4px 12px #555555;
	z-index: 999;

	h1
	{
		margin-top: 5px;
	}

	.logocontainer
	{
		padding-top: 15px;
		display: inline-block;
		float: left;

		> a
		{
			text-decoration: none;

			.logo
			{
				margin-top: 0;
				font-family: 'Merriweather', serif;
				font-size: 48px;
				padding: 0 50px;
				color: white;
				display: inline-block;
			}

			.logoeffect-left
			{
				@include mLogoEffect_pre;
				margin: 0 -80px 0 70px;
			}

			.logoeffect-right
			{
				@include mLogoEffect_pre;
				margin: 0 auto 0 -80px;
			}

			&:hover
			{
				.logoeffect-left
				{
					@include mLogoEffect_post;
					margin: 0 -50px 0 40px;
				}
				.logoeffect-right
				{
					@include mLogoEffect_post;
					margin-left: -50px;
				}
			}
		}

	}

	.navcontainer
	{
		display: inline-block;
		font-family: 'Merriweather', serif;
		float: right;
		clear: none;
		margin-right: 100px;
		margin-top: 35px;
		> a
		{
			display: inline-block;
			margin-left: 50px;
			text-decoration: none;
			color: white;
			border-bottom: 3px solid $green;
			position: relative;

			&:hover
			{
				border-bottom: 3px solid white;
			}

			h2
			{
				margin: 0;
			}
		}


	}

}

.wrapper
{
	.navspace
	{
		height: 100px;
	}

	.computer-pic
	{
		width: 100%;

		> img
		{
			max-width: 100%;
			border-bottom: 2px solid $green;
		}
	}

	.text-wrapper
	{
		text-align: center;
		width: 80%;
		margin: 30px auto 100px auto;

		h1
		{
			font-size: 64px;
			font-family: 'Merriweather', serif;
			color: $green;
			margin: 0;
		}

		h3
		{
			font-size: 42px;
			font-family: 'Merriweather', serif;
			color: darken($green, 15%);
			margin: 60px 0 20px 0;
		}

		p
		{
			font-family: 'Merriweather', serif;
			font-size: 28px;
		}

		.employee-info
		{
			border: 5px solid $green;
			img
			{
				margin: 20px;
				float:left;
				width: 20%;
				max-width: 200px;
				border: 3px solid $green;
			}

			> p
			{
				margin: 20px;
			}
		}
	}

	.green-bknd
	{
		background-color: lighten($green, 5%);
		width: 100%;
		.text-wrapper
		{
			text-align: center;
			width: 80%;
			margin: 30px auto 100px auto;
			padding-bottom: 100px;

			h1
			{
				font-size: 64px;
				font-family: 'Merriweather', serif;
				color: white;
				margin: 0;
				padding-top: 100px;
			}

			h3
			{
				font-size: 42px;
				font-family: 'Merriweather', serif;
				color: white;
				margin: 60px 0 20px 0;
			}

			p
			{
				font-family: 'Merriweather', serif;
				font-size: 28px;
			}

			.employee-info
			{
				border: 5px solid lighten($green, 5%);

				img
				{
					margin: 20px;
					float:left;
					width: 20%;
					max-width: 200px;
					border: 7px solid white;
				}

				> p
				{
					margin: 20px;
					color: #444444;
				}
			}
		}
	}



	.process-steps
	{
		margin: auto;
		width: 90%;
		text-align: center;
		background-color: white;
		height: 500px;
		font-family: 'Merriweather', serif;

		.process-column
		{
			width: 28%;
			margin: 0 0%;
			min-height: 300px;
			background-color: $green;
			display: inline-block;
			text-align: center;
			border: 3px solid white;
			transition: 0.5s 0 ease;
			top: 0;
			position:relative;

			h2
			{
				color: white;
				font-size: 42px;
			}

			.icon
			{
				color: white;
				font-size: 64px;
			}

			&:hover
			{
				border: 3px solid $green;
				background-color: white;
				transition: 0.5s 0 ease;
				padding-bottom: 250px;

				h2, .icon
				{
					color: $green;
				}

				.bottomText
				{
					visibility:visible;
				}
			}

			.bottomText{
				position:absolute;
				bottom:0px;
				visibility:hidden;
				text-align:center;
				width:100%;
				margin: 0 2% 10% 2%;
				color: $green;
				font-size: 32px;

			}

		}
	}



}















//handheld changes
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) , (max-width: 900px)
{
	header
	{
		position: relative;
		height: 400px;
		text-align: center;

		.logocontainer
		{
			display: block;
			text-align: center;
			width: 100%;
			>a
			{
				.logo
				{
					font-size: 100px;
					margin-right: 5%;
				}

				&:hover
				{
					.logoeffect-left
					{
						margin: 0 -80px 0 70px;
					}
					.logoeffect-right
					{
						margin: 0 auto 0 -80px;
					}
				}
			}
		}

		.navcontainer
		{
			margin: 0;
			width: 100%;
			> a
			{
				padding: 50px 0;
				background-color: darken($green, 20%);
				text-align: center;
				width: 100%;
				margin-left: 0;
				font-size: 30px;

				&:hover
				{
					background-color: darken($green, 15%);
				}
			}
		}
	}

	.wrapper
	{
		.navspace
		{
			height: 0;
		}

		.text-wrapper
		{


			.employee-info
			{
				img
				{
					float: left;
					width: 40%;
				}
			}
		}


		.process-steps
		{
			width: 80%;

			.process-column
			{

				display: block;
				width: 100%;
				margin: 25px 0 25px 0;
				h2
				{
					font-size: 64px;
					
					margin-bottom: 0;
				}


				.bottomText{

					font-size: 40px;

				}

			}
		}


	}
}




//temp stuff
.spacetaker
{
	height: 2000px;
	width: 100%;
}
