$green: #4EDE96;
$logoAnimationTime: 0.2s;

@mixin mLogoEffect_pre
{
	color: white;
	font-size: 48px;				
	display: inline-block;
	transition: $logoAnimationTime 0 ease;
	opacity: 0;
}


header
{
	height: 100px;
	width: 100%;
	background: $green;
	position: fixed;
	top: 0;
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) , (max-width: 900px)
	{
		height: 200px;
		text-align: center;
		position: relative;
	}

	.logocontainer 
	{
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (max-width: 900px)
		{
			display: block;
		}
		padding-top: 15px;
		display: inline-block;

		> a
		{
			text-decoration: none;
			
			.logo
			{
				margin-top: 0;
				font-family: 'Merriweather', serif;
				font-size: 48px;
				padding: 0 50px;			
				color: white;
				display: inline-block;
				@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (max-width: 900px)
				{
					font-size: 68px;
					margin-bottom: 0;
					margin-left: -8%;
				}
			}

			.logoeffect-left
			{
				@include mLogoEffect_pre;
				margin-left: 70px;
				margin-right: -80px;
				margin-top: 0;
				margin-bottom: 0;
			}

			.logoeffect-right
			{
				@include mLogoEffect_pre;				
				margin-left: -80px;
				margin-top: 0;
				margin-bottom: 0;
			}

			&:hover
			{
				.logoeffect-left
				{
					transition: $logoAnimationTime 0 ease;
					margin-right: -50px;
					margin-left: 40px;
					opacity: 1;
					@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (max-width: 900px)
					{
						//dont change anything (hide animation)
						@include mLogoEffect_pre;
						margin-left: 70px;
						margin-right: -80px;
						margin-top: 0;
						margin-bottom: 0;
					}
				}
				.logoeffect-right
				{
					transition: $logoAnimationTime 0 ease;
					margin-left: -50px;
					opacity: 1;
					@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (max-width: 900px)
					{
						//dont change anything (hide animation)
						@include mLogoEffect_pre;				
						margin-left: -80px;
						margin-top: 0;
						margin-bottom: 0;
					}
				}
			}
		}

	}

	.navcontainer
	{
		height: 100px;
		display: inline-block;
		font-family: 'Merriweather', serif;
		float: right;
		margin-right: 100px;
		margin-top: 35px;
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (max-width: 900px)
		{
			margin-right: 0;
			margin-left: 0;
			width: 100%;
		}

		> a
		{
			display: inline-block;
			margin-left: 50px;
			text-decoration: none;
			color: white;
			border-bottom: 3px solid $green;
			transition: 0.2s 0 ease;
			@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (max-width: 900px)
			{
				display: block;
				padding: 30px 0;
				background-color: darken($green, 20%);
				float: left;
				text-align: center;
				width: 100%;
				margin-left: 0;
				transition: 0.2s 0 linear;

				&:hover
				{
					background-color: darken($green, 15%);
					transition: 0.2s 0 linear;
				}
			}

			&:hover
			{
				transition: 0.2s 0 ease;
				border-bottom: 3px solid white;
			}

			h2
			{
				margin: 0;
			}
		}


	}

}











//temp stuff
.spacetaker
{
	height: 2000px;
	width: 100%;
}
