header {
  height: 100px;
  width: 100%;
  background: #4ede96;
  position: fixed;
  top: 0; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    header {
      height: 200px; } }
  header .logocontainer {
    padding-top: 15px;
    display: inline-block; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      header .logocontainer {
        margin-left: 35%;
        display: block; } }
    header .logocontainer > a {
      text-decoration: none; }
      header .logocontainer > a .logo {
        margin-top: 0;
        font-family: 'Merriweather', serif;
        font-size: 48px;
        padding: 0 50px;
        color: white;
        display: inline-block; }
      header .logocontainer > a .logoeffect-left {
        color: white;
        font-size: 48px;
        display: inline-block;
        transition: 0.2s 0 ease;
        opacity: 0;
        margin-left: 70px;
        margin-right: -80px;
        margin-top: 0;
        margin-bottom: 0; }
      header .logocontainer > a .logoeffect-right {
        color: white;
        font-size: 48px;
        display: inline-block;
        transition: 0.2s 0 ease;
        opacity: 0;
        margin-left: -80px;
        margin-top: 0;
        margin-bottom: 0; }
      header .logocontainer > a:hover .logoeffect-left {
        transition: 0.2s 0 ease;
        margin-right: -50px;
        margin-left: 40px;
        opacity: 1; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          header .logocontainer > a:hover .logoeffect-left {
            color: white;
            font-size: 48px;
            display: inline-block;
            transition: 0.2s 0 ease;
            opacity: 0;
            margin-left: 70px;
            margin-right: -80px;
            margin-top: 0;
            margin-bottom: 0; } }
      header .logocontainer > a:hover .logoeffect-right {
        transition: 0.2s 0 ease;
        margin-left: -50px;
        opacity: 1; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          header .logocontainer > a:hover .logoeffect-right {
            color: white;
            font-size: 48px;
            display: inline-block;
            transition: 0.2s 0 ease;
            opacity: 0;
            margin-left: -80px;
            margin-top: 0;
            margin-bottom: 0; } }
  header .navcontainer {
    height: 100px;
    display: inline-block;
    font-family: 'Merriweather', serif;
    float: right;
    margin-right: 100px;
    margin-top: 35px; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      header .navcontainer {
        margin-right: 0; } }
    header .navcontainer > a {
      display: inline-block;
      margin-left: 50px;
      text-decoration: none;
      color: white;
      border-bottom: 3px solid #4ede96;
      transition: 0.2s 0 ease; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        header .navcontainer > a {
          display: block;
          padding: 30px 0;
          background-color: #1fa763;
          float: left;
          text-align: center;
          width: 100%; } }
      header .navcontainer > a:hover {
        transition: 0.2s 0 ease;
        border-bottom: 3px solid white; }
      header .navcontainer > a h2 {
        margin: 0; }
